<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signup">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <p>Please fill in this form to create an account</p>
    <hr class="mb-4">

    <div class="row">
      <div class="col-md-6">
        <div class="form-label-group">
          <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
          <label for="firstName">First Name</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-label-group">
          <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
          <label for="lastName">Last Name</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-label-group">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-label-group">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-label-group">
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
          <label for="confirmPassword">Confirm Password</label>
        </div>
      </div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
      <input class="custom-control-input" type="checkbox" formControlName="acceptTerm" value="" id="acceptTerm">
      <label class="custom-control-label" for="acceptTerm">
        I accept the <a href="#">Term of Use</a> & <a href="#">Privacy Policy</a>.
      </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
</div>